<div class="container">
  <h1>Upload photo and view the 3d reconstruction</h1>
  <div class="input-wrapper">
    <label for="image-upload">Choose an image:</label>
    <input type="file" id="image-upload" (change)="onChangePhoto($event)" />
  </div>
  <div class="canvas-wrapper">
    <app-preview-prediction
      id="image-canvas"
      [objFile]="obj"
    ></app-preview-prediction>
  </div>
  <a
    *ngIf="objUrl"
    [href]="objUrl"
    class="download-link"
    download="prediction.obj"
    >Download OBJ for better quality</a
  >
</div>
